/* You can add global styles to this file, and also import other style files */
.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.blue {
  color: blue;
}

li {
  cursor: pointer;
}

.wraper {
  margin-left: 50px;
}
